:root{
    --black: #101010;
    --white: white;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../media/font/Satoshi/Satoshi-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../media/font/Satoshi/Satoshi-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../media/font/Satoshi/Satoshi-Bold.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

html {
    font-family: "Manrope", sans-serif;
    cursor: none;
}

#custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url(./media/cursors/cursor.png);
    border-radius: 50%;
    background-size: contain;
    pointer-events: none;
    mix-blend-mode: difference; 
    z-index: 9999;
}
  

a{
    text-decoration: none;
    cursor: none;
}

li{
    list-style-type: none;
}

header{
    height: auto;
    width: 100%;
    padding: 30px;
    position: sticky;
    top: 0px;
    z-index: 888;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 2.5rem;
            font-weight: 900;
            color: var(--black);
        }
    }

    .hamburger-icon{
        width: 32px;
        height: 32px;
        overflow: hidden;
        z-index: 999;
    }

    .bottom-line, .middle-line{
        stroke-dasharray: 176;  
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 0.3s ease;
        will-change: stroke-dashoffset;
    }

    .hamburger-icon.clicked .bottom-line {
        stroke-dashoffset: 88; 
    }

    .hamburger-icon.clicked .middle-line {
        stroke-dashoffset: 40; 
    }

    .menu__nav {
        width: 150px;
        height: auto;
        opacity: 0;
        background-color: transparent;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 30px; 
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        li {
            transform: translateX(30px);
            opacity: 0;
            transition: all 0.3s ease;
            
            &:nth-child(1) { transition-delay: 0.2s; }
            &:nth-child(2) { transition-delay: 0.3s; }
            &:nth-child(3) { transition-delay: 0.4s; }
            &:nth-child(4) { transition-delay: 0.5s; }

            a {
                color: var(--black);
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 700;
                display: inline-block;
                text-align: right;
                transition: transform 0.3s ease;

                &:hover {
                    transform: translateX(-10px);
                }
            }
        }
    }
}

.menu__nav.active{
    opacity: 1;
    pointer-events: all;
    li {
        transform: translateX(0);
        opacity: 1;
    }
}

.main__wrapper{
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    position: relative;

    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: var(--white);
        mix-blend-mode: difference; 
        z-index: 10000;
        transition: height 0.6s ease;
    }

    &.active::before {
        height: 100%;
    }
}

.image__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    user-select: none;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .image__display{
        pointer-events: none;
        height: 100%;
        width: auto;
        img{
            object-fit: contain;
            height: 100%;
            width: 100%;

            &.active{
                filter: grayscale(1);
            }
        }
    }


    .image__info{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 20px;
        will-change: width;
    }

    .projects{
        justify-content: flex-end !important;
    }
}

// animation for title and year 

@keyframes moveOutDown {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(10px);
    }
}
  
@keyframes moveInDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes moveOutUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
}
  
@keyframes moveInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
  
.animated-out-down {
    animation: moveOutDown 0.3s ease forwards;
}

.animated-in-down {
    animation: moveInDown 0.3s ease forwards;
}

.animated-out-up {
    animation: moveOutUp 0.3s ease forwards;
}

.animated-in-up {
    animation: moveInUp 0.3s ease forwards;
}

footer{
    position: fixed;
    bottom: 0;
    padding: 30px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

@media (max-width: 1023px) {
    #custom-cursor{
        display: none;
    }

    html{
        cursor: default;
    }

    .main__wrapper{
        width: 100dvw;
        height: 100dvh;
    }

    header{
        .hamburger-icon{
            width: 24px;
            height: 24px;
        }

        padding: 20px;

        nav{
            h1{
                font-size: 1.5rem;
            }
        }

        .menu__nav{
            width: 50vw;
            height: 100dvh;
            justify-content: center;
            background-color: var(--white);
            right: -120px;
            padding-right: 30px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

            li{
                opacity: 1;
                transform: none;
                a{
                    font-size: 1.5rem;
                    &:hover{
                        transform: none;
                    }
                }
            }
        }

        
    }

    .menu__nav.active{
        right: 0px;
    }

    .image__wrapper{
        width: 100dvw;
        height: auto;
        padding: 0 20px;

        .image__display img{
            object-fit: contain !important;
            max-height: 50vh;
        }

        .image__info{
            margin-top: 10px;
            font-size: 1rem;
        }
    }
    
    footer {
        padding: 20px;
        font-size: 0.7rem;
    }
}
