:root{
    --black: #101010;
    --white: white;
}

*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

html {
    font-family: "Manrope", sans-serif;
    cursor: none;
}


#custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url(../../media/cursors/cursor.png);
    border-radius: 50%;
    background-size: contain;
    pointer-events: none;
    mix-blend-mode: difference; 
    z-index: 9999;
}
  

a{
    text-decoration: none;
    color: var(--white);
    cursor: none;
}

li{
    list-style-type: none;
}

header{
    height: 120px;
    width: 100%;
    padding: 30px;
    position: sticky;
    top: 0px;
    z-index: 888;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 2.5rem;
            font-weight: 900;
            color: var(--white);
        }
    }

    .hamburger-icon{
        width: 32px;
        height: 32px;
        overflow: hidden;
        z-index: 999;
    }

    .bottom-line, .middle-line{
        stroke-dasharray: 176;  
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 0.3s ease;
        will-change: stroke-dashoffset;
    }

    .hamburger-icon.clicked .bottom-line {
        stroke-dashoffset: 88; 
    }

    .hamburger-icon.clicked .middle-line {
        stroke-dashoffset: 40; 
    }

    .menu__nav {
        width: 150px;
        height: auto;
        opacity: 0;
        background-color: transparent;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 30px; 
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        li {
            transform: translateX(30px);
            opacity: 0;
            transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            
            &:nth-child(1) { transition-delay: 0.1s; }
            &:nth-child(2) { transition-delay: 0.2s; }
            &:nth-child(3) { transition-delay: 0.3s; }
            &:nth-child(4) { transition-delay: 0.4s; }

            a {
                color: var(--white);
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 700;
                display: inline-block;
                text-align: right;
                transition: transform 0.3s ease;

                &:hover{
                   transform: translateX(-10px); 
                }
            }
        }
    }
}

.menu__nav.active{
    opacity: 1;
    pointer-events: all;
    li {
        transform: translateX(0);
        opacity: 1;
    }
}

.main__wrapper{
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    overflow: hidden;
    position: relative;

     &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: var(--white);
        mix-blend-mode: difference; 
        z-index: 10000;
        transition: height 0.6s ease;
    }

    &.active::before {
        height: 100%;
    }
}




footer{
    position: fixed;
    bottom: 0;
    padding: 30px;
    width: 100%;
    color: var(--white);

    display: flex;
    justify-content: space-between;
}

// about

.about__content{
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-size: 1rem;

    .image__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        padding-left: 30px;

        img{
            height: 100%;
            width: 10vw;
            object-fit: contain;
            margin-bottom: 20px;
        }

        p{
            color: var(--white);

            a{
                text-decoration: underline;
            }
        }
    }

    .info__wrapper{
        width: 1000px;
        color: var(--white);
        padding-left: 30px;

        h1{
            font-weight: normal;
            margin-bottom: 20px;
            font-size: 1rem;
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: 15px;

            li{
                display: flex;
                justify-content: space-between;
                padding-bottom: 10px;
            }
        }
    }
}


// contact form subpage

body{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    top: 0;
    left: 0;
}
.contact__wrapper{
    color: var(--white);
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    form{
        display: flex;
        flex-direction: column;
        width: 40vw;
        gap: 20px;
        margin: 0;
        padding: 0;
        font-family: "Manrope", sans-serif;
        cursor: none;
        margin-bottom: 50px;

        input, textarea{
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 5px;
            border-style: none;
            background-color: transparent;
            border-radius: 0px !important;
            border-bottom: 1px solid white;
            outline: none;
            cursor: none;
            color: white;

            &::placeholder{
                color: white;
            }

        }

        textarea{
                border-bottom: none !important;
                resize: none;
            }

        button{
            padding: 10px;
            background-color: white;
            border-style: none;
            color: black;
            border: 1px solid white;
            font-weight: 700;
            font-family: "Manrope", sans-serif;
            border-radius: 5px;
            text-transform: uppercase;
            cursor: none;
        }
    }
}

.socials{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);

    .instagram{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 20px;
    }
}


@media (max-width: 1023px) {
    #custom-cursor{
        display: none;
    }

    html{
        cursor: default;
    }

    header{
        .hamburger-icon{
            width: 24px;
            height: 24px;
        }

        padding: 20px;

        nav{
            h1{
                font-size: 1.5rem;
            }
        }
        .menu__nav{
            width: 50dvw;
            height: 100dvh;
            justify-content: center;
            background-color: var(--black);
            right: -120px;
            padding-right: 30px;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);


            li{
                opacity: 1;
                transform: none;
                a{
                    font-size: 1.5rem;
                    &:hover{
                        transform: none;
                    }
                }
            }
        }
    }

    .menu__nav.active{
        right: 0px;
    }

    // contact form

    .contact__wrapper{
        form{
            width: 100dvw;
            padding: 20px;
        }
    }

    footer {
        padding: 20px;
        font-size: 0.7rem;
    }
}